@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

html {
    background-image: none;
    background-color: transparent;
}
#header{
    display: none;
}

#container {
    max-width: 1000px;
    width: 100%;
    box-shadow: none;
    border: none;
}

#logo a {
    height: 80px;
    display: block;
    overflow: hidden;
    background: url(https://www.bfi.org.uk/dist/server/e51a86bb7ce82a9e9741a54d1f877a9c.svg) no-repeat left center;
    text-indent: -9000px;
    background-size: 50px;
    margin-left: 20px;
}

#logo {
    background-color: transparent;
    border-bottom: 1px solid rgb(233, 232, 232);
}

.instruct {
    border: 1px solid #e6e6e6;
}
form.wufoo{
    width: 100% !important;
    max-width: 660px;
}

.wufoo .info {
    border-bottom: none;
}

.wufoo .info h2 {
    font-size: 2.7rem !important;
    margin-block-end: 0.5em;
    font-weight: bold;
    letter-spacing: 0.01em;
    font-family: Helvetica Neue, serif;
    color: rgb(0, 0, 0);
}

.wufoo .info div {
    font-size: 1.4rem !important;
    line-height: 1.6;
    color: #000000 !important;
}

.wufoo input.text,
.wufoo textarea.textarea {
    background: #ffffff repeat-x top;
}

.wufoo input.text:focus,
.wufoo textarea.textarea:focus {
    border-width: 2px 2px 5px;
    border-style: solid;
    border-color: rgb(249, 221, 231) rgb(249, 221, 231) rgb(255, 34, 201) !important;
    border-image: initial;
    outline: none;
}

.wufoo li {
    margin-top: 25px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.wufoo li>span, .wufoo li>div>span {
    margin: 0 1em 0 0;
    flex-direction: column-reverse;
    display: flex;
}
.wufoo li>span label,  .wufoo li>div>span label{
    margin-top: 7px !important;
    font-size: 18.24px;
    font-weight: 600;
}

.wufoo li.focused {
    background: none;
}

.wufoo li .datepicker {
    width: 20px;
    height: 20px;
    margin-top: 18px;
}

.wufoo li.time select.select {
    margin-left: 5px;
    min-width: 4.2em;
}

.wufoo .rating {
    margin: 10px;
}

.wufoo .rating span,
.wufoo .rating:hover span:hover ~ span {
    font-size: 28px;
    padding-right: 1.2em;
}

.wufoo .rating .clicked {
    color: #783ef7;
}

.wufoo .rating>span:hover,
.wufoo .rating .clicked:hover,
.wufoo .rating:hover span {
    color: #783ef7;
    text-shadow: none;
}

.wufoo li.section h3 {
    font-size: 27px !important;
    font-weight: bold;
    border-top: 1px solid #746D6D;
    padding-top: 50px;
    margin-top: 50px;
}

.wufoo li.section div {
    font-size: 1rem !important;
}
.wufoo li.buttons input {
    display: inline-block;
    position: relative;
    font-size: 1.14rem !important;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(120, 61, 246, 1) 10%, rgba(2, 0, 36, 1) 10%);
    text-decoration: none;
    padding: 13px 25px;
    z-index: 2;
    text-align: center;
    border: 0;
    -webkit-box-flex: 0;
}

.wufoo legend.desc {
    margin-bottom: 10px;
}

.wufoo label.desc,
.wufoo legend.desc {
    font-size: 1.25rem !important;
    line-height: 26px;
    padding: 0;
    color: #000  !important;
    font-weight: 700;
}

.wufoo input.text,
.wufoo textarea.textarea,
.wufoo select.select {
    margin-top: 10px !important;
    padding: 10px 10px 13px;
    font-size: 1.14rem !important;
    font-weight: 400;
    font-family: inherit;
    border: 1px solid #746d6d;
}
.wufoo select.select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 35px;
}

.wufoo input.file {
    padding: 10px 0;
}
.wufoo input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
    display: inline-block;
    position: relative;
    font-size: 1.14rem !important;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(120, 61, 246, 1) 10%, rgba(2, 0, 36, 1) 10%);
    text-decoration: none;
    padding: 13px 25px;
    z-index: 2;
    text-align: center;
    border: 0;
    -webkit-box-flex: 0;
    font-weight: 600;
}
input[type='radio'] {
    -webkit-appearance:none;
    width:45px;
    height:45px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
}
input[type='radio']:hover {
    box-shadow:0 0 5px 0 orange inset;
}
input[type='radio']:before {
    content:'';
    display:block;
    width: 35px;
    height: 35px;
    border-radius:50%;
}
input[type='radio']:checked:before {
    background:#000000;
    border: 4px solid #ffffff;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:45px;
    height:45px;
    border:1px solid darkgray;
    outline:none;
}
input[type='checkbox']:hover {
    box-shadow:0 0 5px 0 orange inset;
}
input[type='checkbox']:before {
    content:'';
    display:block;
    width: 35px;
    height: 35px;
}
input[type='checkbox']:checked:before {
    background:#000000;
    border: 4px solid #ffffff;
}
label.choice{
    margin-left: 55px;
    margin-top: -34px !important;
    margin-bottom: 20px;
}

input.text, select , textarea, .full input.addr {
    min-width: 100% !important;
    max-width: 100% !important;
}

.safari .wufoo select.select {
    font-size: 1.05rem !important;
}

.wufoo input.text::placeholder {
    color: black;
}
table{
    border: none !important;
}
.likert caption{
    font-size: 20px;
    font-weight: 700;
}


.wufoo li span.symbol {
    margin-top: -2px;
    padding: 12px 0 13px;
    font-size: 1.05rem;
    font-weight: bold;
}
 th,td{
     border-left: none !important;
    background-color: transparent !important;
}