* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    background-image: none;
    background-color: transparent;
}

#container {
    max-width: 1000px;
    width: 100%;
    box-shadow: none;
    border: none;
}

#logo a {
    height: 80px;
    display: block;
    overflow: hidden;
    background: url(https://www.bfi.org.uk/dist/server/e51a86bb7ce82a9e9741a54d1f877a9c.svg) no-repeat left center;
    text-indent: -9000px;
    background-size: 50px;
    margin-left: 20px;
}

#logo {
    background-color: transparent;
    border-bottom: 1px solid rgb(233, 232, 232);
}

.instruct {
    border: 1px solid #e6e6e6;
}

.wufoo .info {
    border-bottom: none;
}

.wufoo .info h2 {
    font-size: 2.7rem !important;
    margin-block-end: 0.5em;
    font-weight: bold;
    letter-spacing: 0.01em;
}

.wufoo .info div {
    font-size: 1.4rem !important;
    line-height: 1.6;
    color: #000000 !important;
}

.wufoo input.text,
.wufoo textarea.textarea {
    background: #ffffff repeat-x top;
}

.wufoo input.text:focus,
.wufoo textarea.textarea:focus {
    border-width: 2px 2px 5px;
    border-style: solid;
    border-color: rgb(249, 221, 231) rgb(249, 221, 231) rgb(255, 34, 201) !important;
    border-image: initial;
    outline: none;
}

.wufoo li {
    margin-top: 20px !important;
    padding-top: 0;
    padding-bottom: 0;
}

.wufoo li span {
    margin: 0 1em 0 0;
}

.wufoo li.focused {
    background: none;
}

.wufoo li .datepicker {
    width: 20px;
    height: 20px;
    margin-top: 18px;
}

.wufoo li.time select.select {
    margin-left: 5px;
    min-width: 4.2em;
}

.wufoo .rating {
    margin: 10px;
}

.wufoo .rating span,
.wufoo .rating:hover span:hover ~ span {
    font-size: 28px;
    padding-right: 1.2em;
}

.wufoo .rating .clicked {
    color: #783ef7;
}

.wufoo .rating>span:hover,
.wufoo .rating .clicked:hover,
.wufoo .rating:hover span {
    color: #783ef7;
    text-shadow: none;
}

.wufoo li.section h3 {
    font-size: 1.8rem !important;
    font-weight: bold;
    border-top: 1px solid rgb(233, 232, 232);
}

.wufoo li.section div {
    font-size: 1rem !important;
}
.wufoo li.buttons input {
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 1.14rem !important;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(120, 61, 246, 1) 10%, rgba(2, 0, 36, 1) 10%);
    text-decoration: none;
    padding: 13px 25px;
    z-index: 2;
    width: 100%;
    text-align: center;
    border: 0;
    -webkit-box-flex: 0;
}

.wufoo legend.desc {
    margin-bottom: 10px;
}

.wufoo label.desc,
.wufoo legend.desc {
    font-size: 16px;
    font-weight: 600;
    line-height: inherit;
    padding: 0;
    color: #000;
}

.wufoo input.text,
.wufoo textarea.textarea,
.wufoo select.select {
    margin-top: 5px !important;
    padding: 12px 10px 13px;
    font-size: 1.05rem !important;
    font-weight: 500;
    border-width: 2px 2px 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(120, 61, 246);
    border-image: initial;
    background-color: rgb(255, 255, 255);
    transition: border 0.3s ease 0s;
    font-family: inherit;
}

.wufoo input.file {
    padding: 5px 0;
}

.safari .wufoo select.select {
    font-size: 1.05rem !important;
}

.wufoo input.text::placeholder {
    color: black;
}

.wufoo li span.symbol {
    margin-top: 5px;
    padding: 12px 0 13px;
    font-size: 1.05rem;
    font-weight: bold;
}